<nav class="navbar navbar-expand-lg bg-body-tertiary fw-semibold">
  <div class="container">
    <a class="navbar-brand">
      <img src="../../assets/images/freshcart-logo.svg" routerLink="home">
    </a>
    <button class="navbar-toggler focus-ring focus-ring-success" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'justify-content-between': isLoggedIn, 'justify-content-end': !isLoggedIn}"
      class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link px-0 mx-2" routerLink="home" routerLinkActive="active-component">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-0 mx-2" routerLink="brands" routerLinkActive="active-component">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-0 mx-2" routerLink="cart" routerLinkActive="active-component">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-0 mx-2" routerLink="categories" routerLinkActive="active-component">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-0 mx-2" routerLink="products" routerLinkActive="active-component">Products</a>
        </li>
      </ul>


      <div class="d-flex gap-3 align-items-center cursor-pointer" routerLink="cart">
        <div class="position-relative">
          <img src="../../assets/images/cart.svg">
          <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-main" *ngIf="!(cartItemsNumber == '0')">{{cartItemsNumber}}</span>
        </div>
        <a href="#" target="_blank" class="fa-brands fa-instagram text-decoration-none text-dark"></a>
        <a href="#" target="_blank" class="fa-brands fa-facebook text-decoration-none text-dark"></a>
        <a href="#" target="_blank" class="fa-brands fa-tiktok text-decoration-none text-dark"></a>
        <a href="#" target="_blank" class="fa-brands fa-twitter text-decoration-none text-dark"></a>
        <a href="#" target="_blank" class="fa-brands fa-linkedin text-decoration-none text-dark"></a>
        <a href="#" target="_blank" class="fa-brands fa-youtube text-decoration-none text-dark"></a>
        <a *ngIf="!isLoggedIn" class="nav-link" routerLink="login">Login</a>
        <a *ngIf="!isLoggedIn" class="nav-link" routerLink="register">Register</a>
        <a *ngIf="isLoggedIn" (click)="logout()" class="nav-link cursor-pointer">Logout</a>
        <!-- <a routerLink="/settings" *ngIf="isLoggedIn" class="nav-link cursor-pointer">Settings</a> -->
      </div>
    </div>
  </div>
</nav>