<section>
    <div class="d-flex flex-column-reverse">
        <div class="row my-5 gx-5" *ngFor="let order of orders">
            <div class="col-md-3 d-flex flex-column justify-content-start">
                <h2>Shipping address:</h2>
                <p>{{order.shippingAddress.details}}</p>
                <p>{{order.shippingAddress.phone}}</p>
                <p>{{order.shippingAddress.city}}</p>
            </div>
            <div class="col-md-6 d-flex justify-content-start flex-column gap-3 fw-bold">
                <h2 class="h3 fw-bolder text-main">Order Total:</h2>
                <span>{{order.totalOrderPrice}}</span>
                <span class="d-flex justify-content-start gap-2">Payment<i *ngIf="order.isPaid" class="text-main fa-solid fa-check d-flex justify-content-center align-items-center"></i><i *ngIf="!order.isPaid" class="fa-solid fa-exclamation d-flex justify-content-center align-items-center text-danger"></i></span>
            </div>
            <div class="col-md-3">
                <div *ngFor="let item of order.cartItems" class="d-flex flex-column justify-content-end text-center fw-semibold">
                    <img [src]="item.product.imageCover" class="w-100">
                    <span>{{item.product.title}}</span>
                    <span>{{item.count}} pieces</span>
                    <span>{{item.price}} EGP</span>
                </div>
            </div>
            <hr class="text-main">
        </div>
    </div>
</section>